.login-main-content {
  height: 100vh; /* Set height to full viewport height */
  //width: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-snackbar {
  background-color: #5bc0de; /* Desired background color */
  color: #ffffff; /* Desired text color */
}
//.center-form {
//  //display: flex;
//  //flex-direction: column;
//  align-items: center;
//}