<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger" style="display: flex; justify-content: space-between; align-items: start;">

                        <h4 class="card-title">Upload your data</h4>

                        <mat-form-field>
                            <mat-label style="color: white;">Select CSV Type to Download</mat-label>
                            <mat-select style="color: white;" [(value)]="selectedCsvType">
                                <mat-option *ngFor="let csvType of csvTypes" [value]="csvType.value">
                                    {{ csvType.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-raised-button type="submit" class=" mt-2 mat-button mat-button-base mat-raised-button custom-white-button card-category " style="color: red;" (click)="downloadCSV()">
                            Download Sample CSV
                        </button>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="uploadCsvFrom" (ngSubmit)="onFormSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="file" (change)="onFileChange($event)" accept=".csv" required>
<!--                                    <mat-error *ngIf="uploadCsvFrom.get('csvFile').hasError('required')">File is required</mat-error>-->
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="csvDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="uploadCsvFrom.get('csvDate').hasError('required')">Please pick a date</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-select formControlName="csvType" placeholder="Type of data" required>
                                            <mat-option *ngFor="let action of taken_actions" [value]="action.value">
                                                {{ action.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="uploadCsvFrom.get('csvType').hasError('required')">Specify Type of data</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="isUploadLoading">
                                <span *ngIf="isUploadLoading">Submitting...</span>
                                <span *ngIf="!isUploadLoading">Upload File</span>
                            </button>

                            <span class="text-success" *ngIf="uploadSuccess">Submitted Successfully</span>

                            <mat-error *ngIf="uploadError">{{ uploadResponse }}</mat-error>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Submitted Records History</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>6th November 2023 - 150 Records</li>
                            <li>13th November 2023 - 150 Records</li>
                            <li>20th November 2023 - 150 Records</li>
                        </ul>
                    </div>
                </div>
            </div>


            <!--          <div class="col-md-4">-->
            <!--              <div class="card card-profile">-->
            <!--                  <div class="card-avatar">-->
            <!--                      <a href="javascript:void(0)">-->
            <!--                          <img class="img" src="./assets/img/faces/marc.jpg" />-->
            <!--                      </a>-->
            <!--                  </div>-->
            <!--                  <div class="card-body">-->
            <!--                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>-->
            <!--                      <h4 class="card-title">Alec Thompson</h4>-->
            <!--                      <p class="card-description">-->
            <!--                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...-->
            <!--                      </p>-->
            <!--                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>-->
            <!--                  </div>-->
            <!--              </div>-->
            <!--          </div>-->
        </div>
    </div>
</div>
