<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-"  style="display: flex; justify-content: space-between; align-items: start;background-color:#15A5CA">

                        <h4 class="card-title">Upload Data</h4>

                        <!-- <mat-form-field>
                            <mat-label style="color: white;">Data to be Uploaded</mat-label>
                            <mat-select style="color: white;" [(value)]="selectedCsvType">
                                <mat-option *ngFor="let csvType of csvTypes" [value]="csvType.value">
                                    {{ csvType.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field> -->

                        <button mat-raised-button type="submit" class=" mt-2 mat-button mat-button-base mat-raised-button custom-white-button card-category " style="color: red;" (click)="downloadCSV()">
                           
                        </button>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="uploadCsvFrom" (ngSubmit)="onFormSubmit()">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="file" (change)="onFileChange($event)" accept=".csv" required>
<!--                                    <mat-error *ngIf="uploadCsvFrom.get('csvFile').hasError('required')">File is required</mat-error>-->
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="csvDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-error *ngIf="uploadCsvFrom.get('csvDate').hasError('required')">Please pick a date</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-select formControlName="csvType" placeholder="Data file" required>
                                            <mat-option *ngFor="let action of taken_actions" [value]="action.value">
                                                {{ action.viewValue }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="uploadCsvFrom.get('csvType').hasError('required')">Specify Type of data</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" class="btn btn-primary pull-right" [disabled]="isUploadLoading">
                                <span *ngIf="isUploadLoading">Submitting...</span>
                                <span *ngIf="!isUploadLoading">Upload File</span>
                            </button>

                            <span class="text-primary" *ngIf="uploadSuccess">{{ uploadResponse }}</span>

<!--                            <mat-error *ngIf="uploadError">{{ uploadResponse }}</mat-error>-->

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-" style="background-color: #15A5CA;">
                        <h4 class="card-title">Submitted Records History</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>10th January 2024 - 110 Records</li>
                            <li>15th December 2023 - 150 Records</li>
                            <li>20th November 2023 - 150 Records</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
